*{
    margin: 0;
    padding: 0;
}
/*--------------------------------------------------------------*/
/*-----------------------     NAV BAR    -----------------------*/
/*--------------------------------------------------------------*/
nav{
    width: 80%;
    margin: 0 auto 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    cursor: pointer;
}
.links a{
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    margin-left: 10px;
    border-bottom: 2px solid white;
}
.links a:hover{
    border-bottom: 2px solid orange;
}
.search-bar{
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}
.search-bar input{
    border: none;
    outline: none;
    font-size: 1.2em;
}
.search-bar span{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}
.search-bar img{
    width: 25px;
    height: 25px;
}
/* Mobile view */
@media (max-width: 768px) {
    nav{
        flex-direction: column;
        gap: 1.2em;
    }
}
/*--------------------------------------------------------------*/
/*-----------------------  HERO SECTION  -----------------------*/
/*--------------------------------------------------------------*/
.hero{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-image: url(./assets/images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.left-hero{
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    gap: 6em;
}
.right-hero{
    grid-column: span 4;
}
.bike-delivery{
    background-color: #F5DDC4;
    color: #F48E28;
    width: fit-content;
    padding: 5px 5px 5px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 2.5em;
    font-size: 1.4em;
}
.bike-delivery img{
    background-color: white;
    border-radius: 50%;
}
.hero-title{
    font-size: 4em;
    font-weight: bold;
}
.text-orange{
    color: #F48E28;
}
.hero-order-part{
    display: flex;
    align-items: center;
}
.order-process{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.order-btn{
    background: linear-gradient(180deg, #EFAB68 0%, #F48E28 100%);
    border: none;
    padding: .9em 1.5em;
    font-size: 1.5em;
    color: white;
    border-radius: 1.5em;
}
.right-hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hero-order-part img{
    width: 88px;
    height: 88px;
}
.hero-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.hero-card img{
    width: 250px;
    height: 250px;
}
.hero-card-food-name{
    font-size: 1.5em;
    font-weight: bold;
}
.hero-card-feature, .hero-card-price{
    font-size: 1.2em;
}
.hero-card-dollar{
    color: red;
}
/* MOBILE VIEW */
@media (max-width: 768px){
    .hero{
        width: 90%;
        background-image: none;
    }
    .left-hero{
        margin-top: 2em;
        grid-column: span 12;
        gap: 1em;
    }
    .bike-delivery{
        gap: 1em;
    }
    .hero-title{
        font-size: 2.5em;
    }
    .order-process{
        font-size: 1.2em;
        margin-left: 2%;
    }
    .order-btn{
        padding: 10px 20px;
        font-size: 1.2em;
    }
    .right-hero{
        grid-column: span 12;
        display: flex;
        flex-wrap: wrap;    
    }
    .hero-card{
        width: 50%;
        box-sizing: border-box;
    }
    .hero-card-food-name{
        font-size: 1.2em;
    }
    .hero-card img{
        width: 200px;
        height: 200px;
    }
}
/*--------------------------------------------------------------*/
/*----------------------- TIMING SECTION -----------------------*/
/*--------------------------------------------------------------*/
.timing{
    width: 80%;
    margin: 5em auto 5em auto;
    box-shadow: 1px 1px 5px gray;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.working-time, .our-location, .phone-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}
.working-time span, .our-location span, .phone-number span{
    font-size: 1.4em;
}
.our-location, .phone-number{
    border-left: 1px solid gray;
}
.our-location img, .phone-number img{
    background-color: #F48E28;
    padding: .6em;
    border-radius: 5em;
}
/* MOBILE VIEW */
@media(max-width: 768px){
    .timing{
        flex-direction: column;
        gap: 3em;
    }
    .our-location, .phone-number{
        border-left: none;
        border-top: 1px solid gray;
        padding-top: 1em;
    }
}
/*--------------------------------------------------------------*/
/*-----------------------  MOST POPULAR  -----------------------*/
/*--------------------------------------------------------------*/
.products{
    width: 80%;
    margin: 0 auto 5em auto;
    box-shadow: 1px 1px 5px gray;
    border-radius: 1em;
    padding: 2em;
    text-align: center;
}
.products-title{
    font-size: 2em;
}
.products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
}
.product-cart{
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgb(201, 198, 198);
}
.product-cart img{
    width: 100%;
    border-radius: 1em 1em 0 0;
}
.product-cart-part-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
.product-title{
    font-size: 2em;
    margin: 0;
    padding: 0;
}
.product-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.product-rating img{
    width: 12px;
    height: 12px;
}
.product-cart-part-two{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
}
.product-add-to-cart-btn{
    background-color: #F48E28;
    outline: none;
    border: none;
    padding: .5em 1em;
    border-radius: 5em;
    color: white;
}
.product-price{
    font-weight: bold;
}
@media(max-width: 768px){
    .products-grid{
        grid-template-columns: 1fr;
    }
}
.hidden{
    display: none;
}
.show{
    display: grid;
    margin-top: 4em;
}
.product-show-more-btn{
    background-color: #F48E28;
    margin-top: 3em;
    padding: 1em 2em;
    border: none;
    border-radius: 5em;
    color: white;
    cursor: pointer;
}
.product-show-more-btn:hover{
    background-color: #96500a;
}
/*--------------------------------------------------------------*/
/*-----------------------    SERVICES    -----------------------*/
/*--------------------------------------------------------------*/
.services{
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 2em;
    text-align: center;
}
.services-title{
    font-size: 2em;
}
.services-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}
.service-cart{
    box-shadow: 1px 1px 5px rgb(184, 184, 184);
    padding: 4em 0;
    border-radius: 1em;
}
.service-cart:hover{
    box-shadow: 2px 2px 10px rgb(184, 184, 184);
}
.service-image{
    background-color: #F5DDC4;
    padding: 1em;
    border-radius: 5em;
}
.service-cart h4{
    font-size: 1.5em;
}
.service-cart p{
    padding: 0 2em;
}
@media(max-width: 768px){
    .services-flex{
        flex-direction: column;
        gap: 2em;
    }
}
/*--------------------------------------------------------------*/
/*-----------------------  TESTIMONIALS  -----------------------*/
/*--------------------------------------------------------------*/
.testimonials{
    width: 80%;
    margin: 2em auto;
    text-align: center;
}
.testimonials-title{
    font-size: 2em;
}
.testimonial{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
}
.testimonial-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px rgb(201, 199, 199);
    padding: 0 2em;
    border-radius: 1em;
}
.testimonial-right img{
    max-width: 500px;
}
.testimonial-client-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.testimonial-client-intro h5{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
@media(max-width: 768px){
    .testimonial{
        display: flex;
        flex-direction: column;
    }
    .testimonial-right img{
        width: 100%;
    }
}
/*--------------------------------------------------------------*/
/*-----------------------   NEWSLETTER   -----------------------*/
/*--------------------------------------------------------------*/
.news-letter{
    width: 80%;
    box-sizing: border-box;
    padding: 2em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 3em;
}
.subscribe{
    max-width: 400px;
    border: 1px solid black;
    color: white;
}
.subscribe h3{
    font-size: 2em;
    margin-bottom: 1em;
}
.subscribe p{
    text-align: justify;
    margin-bottom: 1em;
}
.subscribe-input{
    background-color: white;
    padding: .5em;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
}
.subscribe-input input{
    border: none;
    outline: none;
    width: 70%;
}
.subscribe-input button{
    background-color: #F48E28;
    border: none;
    padding: 1em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}
@media(max-width: 768px){
    .news-letter{
        flex-direction: column;
        width: 90%;
    }
}
/*--------------------------------------------------------------*/
/*-----------------------     FOOTER     -----------------------*/
/*--------------------------------------------------------------*/
footer{
    margin: 2em 0 0 0;
    padding: 0;
    background-color: rgb(231, 231, 231);
}
.footer{
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}
.footer-part-one img{
    margin-bottom: 2em;
}
.footer-part-two h4, .footer-part-three h4, .footer-part-four h4{
    margin-bottom: 2em;
    font-size: 1.5em;
} 
.footer-part-three ul{
    list-style-type: none;
}
@media(max-width: 768px){
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
}